body{
	font-family:Georgia;
    font-size:90%;	
	padding: 0%;
	margin: 0%;
	overflow-x:hidden;
  }
  header{
	background-color:blue; 
	color:#FFF;
	text-align:center;
	font-size:100%;
	text-shadow: 5px 5px 6px rgba(0, 0, 0, 1);
	padding: 20px;
	display:flex;
	align-items:center;
  }
  header img{
	border-radius:40% 10%;
	width:90px;
	margin-left:10px;
	
  }
  img{
	width:220px; 
	box-shadow:20px 15px 25px rgba(0,0,0,0.5);
	border-radius:30%;
  }
  img:hover{
	transform:scale(1.1);
  }
  .bi-en{
	margin-left:80px;  
	  
  }
  .texte{
	  padding-left:20px;
	  
  }
  .vet-ment{
	 background-color:grey;
     padding:4px 8px;
	 font-weight:bold; 
	 font-size:180%;
	 width:95vw;
	 
  }
  .pat-lon{
	 background-color:grey;
     padding:1px 9px;
	 margin-left:40px;
     width:100vw;
	 font-weight:bold;
	 font-size:180%;
  }
  nav li{
	  display:flex;
	  align-items:center;
  }
  li{
	 list-style-type:none;
  }
  @media(max-width:600px){
	  header{
		  flex-direction:column;
		  text-align:center;
	  }
	  header img{
		  margin:0 auto;
	  }
	  h1{
		  margin-top:10px;
	  }
  }
